:root {
	// Headings
	--typography-h-1: 56px;
	--typography-h-2: 48px;
	--typography-h-3: 40px;
	--typography-h-4: 32px;
	--typography-h-5: 24px;
	--typography-h-6: 20px;

	// Paragraphs
	--typography-p-1: 20px;
	--typography-p-2: 16px;
	--typography-p-3: 13px;
}
